 body{
    background-image: url('../css/317284.jpg');
    background-attachment: fixed;
    opacity: 100%;
   
    background-repeat: repeat;
    background-color: transparent;
} 

h1{
    color: white;
}
